.env

*.exe
*.dll
*.so
*.dylib
*.out
bin/
dist/
*.test
/vendor/
coverage.out
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars.json
crash.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.dockerignore
docker-compose.override.yml
dev.tfvars
prod.tfvars